/* General Body Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Header */
header {
    background-color: #0288D1; /* Light Blue */
    color: white;
    text-align: center;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5em;
    font-weight: bold;
}

/* Introduction Section */
.intro {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    background-color: beige;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.intro p {
    font-size: 1.2em;
    color: #555;
}

/* Steps Section */
#steps {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: lightblue;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.step {
    margin-bottom: 40px;
}

.step h2 {
    font-size: 1.8em;
    color: #D32F2F; /* Red for Step Titles */
}

.step img {
    width: 100%;
    border-radius: 8px;
    margin: 20px 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.step p {
    font-size: 1.1em;
    color: #444;
}

/* Play Button */
button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    background-color: #0288D1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #0277BD;
}

/* Result Section */
#result {
    text-align: center;
    margin: 20px;
    font-size: 1.5em;
    color: #0288D1;
}

/* Footer */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
